<div class="wrapper text-center">
  <h1>Pianos à Paris</h1>
  <div class="container">
    <div class="row">
      <% @pianos.each do |piano| %>
        <div class="col-xs-12 col-sm-6 col-lg-6">
          <div class="cards">
            <%= link_to "", piano_path(piano), class: "cards-link" %>
            <div class="cards-picture" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('<%= image_path('piano_1.jpg')%>')">
            </div>
            <div class="cards-info">
              <div class="cards-description">
                <p><%= piano.price %> €/h - <%= piano.title.capitalize %></p>
              </div>
              <div class="cards-details">
                <p><%= piano.category.capitalize %> chez <%= piano.user.first_name %></p>
              </div>
              <div class="cards-ranking">
                <p>
                  <% 3.times do %>
                    <i class="fa fa-star"></i>
                  <% end %>
                </p>
                <p>16 commentaires</p>
                <p><i class="fa fa-heart"></i></p>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
