<div class="row">
  <div class="card-picture" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('<%= image_path('piano1.jpg')%>')">
  <div class="card-category"><%= @piano.category %></div></div>
    <div class="col-xs-12 col-sm-6 col-sm-offset-3">
      <div class="wrapper">
        <div class="card">
          <div class="card-description">
            <h1><%= @piano.title %></h1>
            <h2><%= @piano.description %></h2>
            <h3><%= @piano.brand.name %></h3>
            <h4><%= @piano.brand.description %></h4>
            <br>
            <%= link_to 'Back', pianos_path, class: "btn-black" %>
          </div>
        </div>
      </div>
    </div>
</div>
